#container {
    margin-top:13%;
    margin-right: 40%;
    margin-left: 40%;
    padding:5%;
    background-color: rgb(91, 176, 233);
    border-radius:1rem;
    line-height: 1.5rem;
    
}
body {
    background-color: rgb(226, 235, 235);
}


label{
    font-weight: bold;
    color: blanchedalmond;
}